<div class="container-fluid">
  <!-- Server status and garage door status -->
  <div class="row">
    <div class="col server-status border" [ngClass] = "connected ? 'bg-green' : 'bg-red'">
      <div class="card my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/000000/external-server-online-marketing-xnimrodx-lineal-xnimrodx-2.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b>Server Status</b></span></p>
              <p *ngIf="!server && connected" class="lead mb-0">Connected</p>
              <p *ngIf="server && connected" class="lead mb-0">CPU: {{server.cpu.toFixed(2)}} % - MEM: {{server.mem.toFixed(2)}} %</p>
              <p *ngIf="!connected" class="lead mb-0">Disconnected</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col border" [ngClass] = "!myq ? 'bg-green' : myq.state == 'closed' ? 'bg-green' : (myq.state == 'closing' || myq.state == 'opening') ? 'bg-yellow' : 'bg-red'">
      <div class="card my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/wired/64/000000/garage-door.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class=" mr-2"><b>Garage Door</b></span></p>
              <p *ngIf="!myq" class="lead mb-0">Closed</p>
              <p *ngIf="myq && myq.state == 'open'" class="lead mb-0">
                Open<small class="ms-1">Since {{ readableDate(myq.since) }}</small>
              </p>
              <p *ngIf="myq && myq.state != 'open'" class="lead mb-0">
                {{ capitalize(myq.state) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nicehash status -->
  <div class="row">
    <div class="col-2 border pr-0" style="background-color: #c3e6cb;">
      <div class="card my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-12">
            <img src="https://img.icons8.com/dotty/64/000000/hashtag-2.png"/>
          </div>
          <div class="col-12">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class=" me-2"><b>Wallet</b></span></p>
              <p class="mb-0"><i class="fa fa-btc" aria-hidden="true"></i> <b *ngIf="nh"> {{ nh.btc.toFixed(8) }} </b></p>
              <p class="mb-0"><i class="fa fa-usd" aria-hidden="true"></i> <b *ngIf="nh"> {{ nh.usd.toFixed(2) }} </b></p>
              <p class="card-text mb-0 lead"><span class=" me-2"><b>Profitability</b></span></p>
              <p class="mb-0"><i class="fa fa-btc" aria-hidden="true"></i> <b *ngIf="nh"> {{ nh.p.toFixed(8) }} </b></p>
              <p class="mb-0"><i class="fa fa-usd" aria-hidden="true"></i> <b *ngIf="nh"> {{ nh.pu.toFixed(2) }} </b></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 miner-status border" [ngClass]="nh && nh.miner.status == 'MINING' ? 'bg-green' : 'bg-red'">
      <div class="card miner-status my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-mining-finance-flatart-icons-outline-flatarticons.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b *ngIf="nh">Miner {{ getMinerStatus('miner') }}</b></span></p>
              <div *ngIf="nh && nh.miner.status == 'MINING'">
                <p class="mb-0"><b>Joined for {{ getMinerJoinTime('miner') }} hours</b></p>
                <p class="mb-0" [ngClass]="getDeviceStyle(d)" *ngFor="let d of nh.miner.devices" >
                  <span [ngClass]="d.name.endsWith('Ti') ? 'me-2' : 'me-4'"> {{ d.name }}</span>{{ getDeviceStatus(d) }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 desktop-status border" [ngClass]="nh && nh.desktop.status == 'MINING' ? 'bg-green' : 'bg-red'">
      <div class="card desktop-status my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/external-icongeek26-outline-icongeek26/64/000000/external-desktop-devices-icongeek26-outline-icongeek26.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class=" me-2"><b *ngIf="nh">Desktop {{ getMinerStatus('desktop') }}</b></span></p>
              <div *ngIf="nh && nh.desktop.status == 'MINING'">
                <p class="mb-0"><b>Joined for {{ getMinerJoinTime('desktop') }} hours</b></p>
                <p class="mb-0" [ngClass]="getDeviceStyle(d)" *ngFor="let d of nh.desktop.devices" >
                  <span [ngClass]="d.name.endsWith('Ti') ? 'me-2' : 'me-4'"> {{ d.name }}</span>{{ getDeviceStatus(d) }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Weather -->
  <div class="row">
    <div class="col border px-0" style="background-color: #c3e6cb;">
      <div class="card border-0" style="background-color: #c3e6cb;">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-block">
              <div class="row ml-1" id="weather">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>