<div *ngIf="mode=='ipad'" class="container-fluid">
  <div class="row">
    <div class="col-4 server-status border bg-green">
      
      <div class="row">
        <div class="col border px-0 my-0">
          <app-card type="server" [data]="server" icon="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/000000/external-server-online-marketing-xnimrodx-lineal-xnimrodx-2.png"></app-card>
        </div>
        <div class="col border px-0 my-0">
          <app-card type="scholar" [data]="scholar" icon="https://img.icons8.com/ios/64/null/quote-right.png"></app-card>
        </div>
      </div>

      <div class="row">
        <div class="col border px-0 my-0">
          <app-card type="garage" [data]="myq" icon="https://img.icons8.com/wired/64/000000/garage-door.png"></app-card>
        </div>
        <div class="col border px-0 my-0">
          <app-card type="door" [data]="alexa" icon="https://img.icons8.com/ios/64/null/door-opened.png"></app-card>
        </div>
      </div>
  
      <div class="row">
        <div class="col border px-0 my-0">
          <app-card type="stock" [data]="stock == null ? null : stock.voo" icon="https://cdn.freebiesupply.com/logos/large/2x/s-p-1-logo-svg-vector.svg"></app-card>
        </div>
      </div>
      <div class="row">
        <div class="col border px-0 my-0">
          <app-card type="stock" [data]="stock == null ? null : stock.btc" icon="https://img.icons8.com/dotty/64/000000/bitcoin.png"></app-card>
        </div>
      </div>
      <div class="row">
        <div class="col border px-0 my-0">
          <app-card type="stock" [data]="stock == null ? null : stock.eth" icon="https://img.icons8.com/wired/64/000000/ethereum.png"></app-card>
        </div>
      </div>
      
    </div>

    <div class="px-0" [ngClass]="focusLiveStream ? 'px-0' : 'col-8 bg-green'" [ngStyle]="focusLiveStream ? {'position':'absolute', 'z-index':'10'} : {}">
      <canvas id="camera" style="margin-left:0px;" [ngStyle]="{'height': focusLiveStream ? '580px' : '512px' }" (click)="liveStreamClicked()"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-6 border px-0 bg-green">
      <div class="card desktop-status my-2 border-0 bg-green">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-block px-2">
              <div style="height: 400px"><canvas id="greencardChart"></canvas></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 border px-0 bg-green">
      <div class="card desktop-status my-2 border-0 bg-green">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-block px-2">
              <div style="height: 400px"><canvas id="weatherChart"></canvas></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-bottom" *ngIf="alerts">
    <div class="row">
      <div class="col-12" *ngFor="let a of alerts">
        <div class="card" [ngClass]="a.level == 'info' ? 'bg-green' : a.level == 'warn' ? 'bg-yellow' : 'bg-red'">
          <div class="card-body py-2">
            <div class="text-center">
              <p class="card-text mb-0 lead"><span class=" mr-2"><b>{{a.msg}}</b></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div *ngIf="mode=='fridge'" class="container-fluid">
  <div class="row">
    <div class="col bg-green">
      <canvas id="camera" style="margin-left:-16px;width:720px;"></canvas>
    </div>
  </div>
</div>


<div class="fixed-bottom">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-outline-secondary pull-right me-2 mb-2" (click)="reloadPage()"><i class="fa fa-lg fa-refresh" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-outline-secondary pull-right me-2 mb-2" (click)="restartLiveStream()"><i class="fa fa-lg fa-camera" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-outline-secondary pull-right me-2 mb-2" (click)="showInfo()"><i class="fa fa-lg fa-info px-2" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
