<div class="container-fluid">
  <!-- Server status and garage door status -->
  <div class="row">
    <div class="col server-status border" [ngClass] = "connected ? 'bg-green' : 'bg-red'">
      <div class="card my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/external-xnimrodx-lineal-xnimrodx/64/000000/external-server-online-marketing-xnimrodx-lineal-xnimrodx-2.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b>Server Status</b></span></p>
              <p *ngIf="!server && connected" class="lead mb-0">Connected</p>
              <p *ngIf="server && connected" class="lead mb-0">CPU: {{server.cpu.toFixed(2)}} % - MEM: {{server.mem.toFixed(2)}} %</p>
              <p *ngIf="!connected" class="lead mb-0">Disconnected</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col border" [ngClass] = "!myq ? 'bg-green' : myq.state == 'closed' ? 'bg-green' : (myq.state == 'closing' || myq.state == 'opening') ? 'bg-yellow' : 'bg-red'">
      <div class="card my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/wired/64/000000/garage-door.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b>Garage Door</b></span></p>
              <p *ngIf="!myq" class="lead mb-0">Closed</p>
              <p *ngIf="myq && myq.state == 'open'" class="lead mb-0">
                Open<small class="ms-1">Since {{ readableDate(myq.since) }}</small>
              </p>
              <p *ngIf="myq && myq.state != 'open'" class="lead mb-0">
                {{ capitalize(myq.state) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nicehash status -->
  <div class="row">
    <div class="col-2 border pr-0" style="background-color: #c3e6cb;">
      <div class="card my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-12">
            <img src="https://img.icons8.com/dotty/64/000000/hashtag-2.png"/>
          </div>
          <div class="col-12">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class=" me-2"><b>Wallet</b></span></p>
              <p class="mb-0"><i class="fa fa-btc" aria-hidden="true"></i> <b *ngIf="nh"> {{ nh.btc.toFixed(8) }} </b></p>
              <p class="mb-0"><i class="fa fa-usd" aria-hidden="true"></i> <b *ngIf="nh"> {{ nh.usd.toFixed(2) }} </b></p>
              <p class="card-text mb-0 lead"><span class=" me-2"><b>Profitability</b></span></p>
              <p class="mb-0"><i class="fa fa-btc" aria-hidden="true"></i> <b *ngIf="nh"> {{ nh.p.toFixed(8) }} </b></p>
              <p class="mb-0"><i class="fa fa-usd" aria-hidden="true"></i> <b *ngIf="nh"> {{ nh.pu.toFixed(2) }} </b></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 miner-status border" [ngClass]="nh && nh.miner.status == 'MINING' ? 'bg-green' : 'bg-red'">
      <div class="card miner-status my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-mining-finance-flatart-icons-outline-flatarticons.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b *ngIf="nh">Miner {{ getMinerStatus('miner') }}</b></span></p>
              <div *ngIf="nh && nh.miner.status == 'MINING'">
                <p class="mb-0"><b>Joined for {{ getMinerJoinTime('miner') }} hours</b></p>
                <p class="mb-0" [ngClass]="getDeviceStyle(d)" *ngFor="let d of nh.miner.devices">
                  <span [ngClass]="d.name.endsWith('Ti') ? 'me-2' : 'me-4'"> {{ d.name }}</span>{{ getDeviceStatus(d) }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 desktop-status border" [ngClass]="nh && nh.desktop.status == 'MINING' ? 'bg-green' : 'bg-red'">
      <div class="card desktop-status my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/external-icongeek26-outline-icongeek26/64/000000/external-desktop-devices-icongeek26-outline-icongeek26.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class=" me-2"><b *ngIf="nh">Desktop {{ getMinerStatus('desktop') }}</b></span></p>
              <div *ngIf="nh && nh.desktop.status == 'MINING'">
                <p class="mb-0"><b>Joined for {{ getMinerJoinTime('desktop') }} hours</b></p>
                <p class="mb-0" [ngClass]="getDeviceStyle(d)" *ngFor="let d of nh.desktop.devices" >
                  <span [ngClass]="d.name.endsWith('Ti') ? 'me-2' : 'me-4'"> {{ d.name }}</span>{{ getDeviceStatus(d) }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Weather -->
  <div class="row">
    <div class="col border px-0 bg-green">
      <div class="card border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col">
            <div class="card-block">
              <div class="row ms-1" *ngIf="weather">
                <div class="col py-2 px-1 text-center" *ngFor="let w of weather" [ngClass]="(w.temp <= 3 || w.wind >= 15) ? 'bg-yellow' : 'bg-green'">
                  <p class="mb-0">{{ w.time }}</p><img [src]="'https://openweathermap.org/img/wn/' + w.icon + '.png'"/>
                  <p class="mb-0">{{w.temp}} °C</p><p class="mb-0">{{w.wind}} MPH</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Stock status -->
  <div class="row">
    <div class="col-3 voo-status border" [ngClass] = "stock ? getStockStyle(stock.voo.dp) : ' bg-green'">
      <div class="card voo-status my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/ios/64/000000/combo-chart--v1.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b>S&P 500</b></span></p>
              <p class="lead mb-0" *ngIf="stock">$ {{ stock.voo.c }}<br />
                <small> {{stock.voo.d}} ( {{stock.voo.dp}} %)</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 sail-status border" [ngClass] = "stock ? getStockStyle(stock.sail.dp) : ' bg-green'">
      <div class="card sail-status my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/dotty/64/000000/sailing-ship-medium.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b>SailPoint</b></span></p>
              <p class="lead mb-0" *ngIf="stock">$ {{ stock.sail.c }}<br />
                <small> {{stock.sail.d}} ( {{stock.sail.dp}} %)</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 btc-status border" [ngClass] = "stock ? getStockStyle(stock.btc.dp) : ' bg-green'">
      <div class="card btc-status my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/dotty/64/000000/bitcoin.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b>Bitcoin</b></span></p>
              <p class="lead mb-0" *ngIf="stock">$ {{ stock.btc.c }}<br />
                <small> {{stock.btc.d}} ( {{stock.btc.dp}} %)</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 eth-status border" [ngClass] = "stock ? getStockStyle(stock.eth.dp) : ' bg-green'">
      <div class="card eth-status my-2 border-0 bg-transparent">
        <div class="row no-gutters">
          <div class="col-auto">
            <img src="https://img.icons8.com/wired/64/000000/ethereum.png"/>
          </div>
          <div class="col">
            <div class="card-block px-2">
              <p class="card-text mb-0 lead"><span class="me-2"><b>Ethereum</b></span></p>
              <p class="lead mb-0" *ngIf="stock">$ {{ stock.eth.c }}<br />
                <small> {{stock.eth.d}} ( {{stock.eth.dp}} %)</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-bottom" *ngIf="alerts">
    <div class="row">
      <div class="col-12" *ngFor="let a of alerts">
        <div class="card" [ngClass]="a.level == 'info' ? 'bg-green' : a.level == 'warn' ? 'bg-yellow' : 'bg-red'">
          <div class="card-body py-2">
            <div class="text-center">
              <p class="card-text mb-0 lead"><span class=" mr-2"><b>{{a.msg}}</b></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>