.bg-green {
  background-color: #c3e6cb
}

.bg-dark-green {
  background-color: #28a745
}

.bg-yellow {
  background-color: #fad673
}

.bg-red {
  background-color: #f8d7da
}

.bg-dark-red {
  background-color: #dc3545
}