<div class="card border-0" [ngClass]="getBackground()">
  <div class="row no-gutters mx-1 my-2">
    <div class="col-auto d-flex align-items-center">
      <img [src]="icon" [attr.height]="phoneMode ? 32 : 64" [attr.width]="phoneMode ? 32 : 64"/>
    </div>
    <div class="col px-0 text-truncate">
      <div class="card-block d-flex align-items-center" style="height:60px;">
        <div *ngIf="type == 'server'">
          <div *ngIf="data" class="row">
            <div class="col-2">
              <p class="lead mb-0">CPU:</p>
              <p class="lead mb-0">MEM:</p>
            </div>
            <div class="col-3 pe-0">
              <p class="lead mb-0">{{data.cpu.toFixed(2)}} %</p>
              <p class="lead mb-0">{{data.mem.toFixed(2)}} %</p>
            </div>
            <div class="col-2">
              <p class="lead mb-0">In:</p>
              <p class="lead mb-0">Out:</p>
            </div>
            <div class="col-5 px-0">
              <p class="lead mb-0">{{byteToReadableSpeed(data.download)}} </p>
              <p class="lead mb-0">{{byteToReadableSpeed(data.upload)}} </p>
            </div>
          </div>
          <p *ngIf="!data" class="lead mb-0">Disconnected</p>
        </div>
        <div *ngIf="type == 'scholar'">
          <p *ngIf="data" class="display-3 mb-0" style="height:70px;overflow:hidden;">{{ data.citation }}</p>
        </div>
        <div *ngIf="type == 'zillow'">
          <p *ngIf="data" class="display-6 mb-0">{{ (data.total/1000000.0).toFixed(3) }}</p>
          <p *ngIf="data" class="mb-0">{{ 'B: ' + (data.cost/1000000.0).toFixed(2) + ', N: ' + ((data.total - data.cost)/1000000.0).toFixed(2) }}</p>
        </div>
        <div *ngIf="type == 'garage'">
          <p *ngIf="!data" class="lead mb-0">Closed</p>
          <p *ngIf="data" class="lead mb-0 text-capitalize">{{ data }}</p>
        </div>
        <div *ngIf="type == 'door'">
          <p *ngIf="!data" class="lead mb-0">Closed</p>
          <p *ngIf="data" class="lead mb-0 text-capitalize">{{ data }}</p>
        </div>
        <div *ngIf="type == 'stock'">
          <p *ngIf="data" class="lead mb-0">${{ data.c }}</p>
          <i *ngIf="data" class="fa fa-lg" [ngClass]="data.dp >= 0 ? 'fa-arrow-circle-up' : 'fa-arrow-circle-down'" [ngStyle]="{'color': data.dp >= 0 ? '#198754' : '#fc0000' }">
            <span class="fs-6 ms-1">${{data.d}}&nbsp;&nbsp;{{data.dp}}%</span> 
          </i>
        </div>
        <div *ngIf="type == 'greencardCase'">
          <p *ngIf="!data" class="lead mb-0">No status was found</p>
          <p *ngIf="data && data.status" class="lead mb-0 text-capitalize"><b>{{ data.status }}</b></p>
          <p *ngIf="data && data.lastCheck" class="lead mb-0"><small>Last {{ parseLocalDate(data.lastCheck) }}, next {{ parseLocalDate(data.nextCheck) }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>